body, html {
  padding: 0;
  margin: 0;
}
body {
  min-width: 1024px;
}
div, span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Microsoft YaHei", sans-serif;
}
div.fill {
  -webkit-flex: 1;
  flex: 1;
}
.flexbox {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.select {
  background: url(image/dropdown.png) center right 10px no-repeat, #fff;
  position: relative;
  -webkit-appearance: none;
  height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  border: white solid 2px;
  cursor: pointer;
}
.select::before {
  content: attr(selected);
  line-height: 32px;
  color: #aaa;
}
.select > ul.option {
  display: none;
  list-style-type: none;
  max-height: 180px;
  overflow-y: auto;
}
.select:focus {
  outline: none;
  border: #c00 solid 2px;
}
.select:focus > ul.option {
  display: block;
  position: absolute;
  top: 32px;
  left: -2px;
  right: -2px;
  margin: 0;
  padding: 0;
  background: white;
  border: #c00 solid 2px;
  box-sizing: border-box;
  background: #ddd;
  z-index: 2;
  cursor: pointer;
}
.select:focus > ul.option > li {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.select:focus > ul.option > li:last-of-type {
  padding-bottom: 15px;
}
.select:focus > ul.option > li[selected] {
  background: url(image/selected.png) left 10px center no-repeat, #c00;
  color: white;
}
.select:focus > ul.option > li:hover {
  background: #c00;
  color: white;
}
.noselect * {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
#topbar {
  position: fixed;
  top: 0;
  background: white;
  height: 54px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  min-width: 800px;
  z-index: 5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#topbar+section {
  margin-top: 54px;
}
#topbar img.logo {
  height: 32px;
  width: 32px;
  padding-left: 60px;
  padding-top: 10px;
}
#topbar span, #topbar div {
  line-height: 54px;
  height: 54px;
}
#topbar span.title {
  padding-left: 10px;
  font-size: 20px;
}
#topbar > ul {
  height: 54px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#topbar li.tab {
  display: inline-block;
  font-size: 14px;
  padding: 0 20px;
  line-height: 55px;
  box-sizing: content-box;
  color: #999;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 0px solid #ec0000;
}
#topbar li.selected, #topbar li.tab:hover {
  color: #ec0000;
  border-bottom: 5px solid #ec0000;
  line-height: 46px;
}
#topbar a.login {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  color: #ec0000;
  padding: 0 20px;
  margin-right: 50px;
}
#topbar div.login img {
  height: 17px;
  width: 14px;
  padding-right: 2px;
  position: relative;
  top: 2px;
}
#part-1 {
  position: relative;
  height: calc(100vmin - 54px);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
#part-1 div.background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(image/img01.jpg);
  background-size: cover;
  -webkit-filter: brightness(0.8);
  -moz-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  -ms-filter: brightness(0.8);
  filter: brightness(0.8);
  z-index: -1;
}
#part-1 div.content {
  padding-left: 120px;
}
#part-1 div.content * {
  margin: 20px 0;
}
#part-1 div.content span.title {
  font-size: 60px;
  color: white;
}
#part-1 div.content div.text {
  color: white;
  font-size: 24px;
  line-height: 36px;
}
#part-1 a.button {
  display: block;
  text-decoration: none;
  width: 340px;
  height: 60px;
  margin-top: 80px;
  background-color: #de3f3f;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.2s;
}
#part-1 a.button:hover {
  background-color: #de5f5f;
}
@media (min-width: 2400px) {
  #part-1 {
    position: fixed;
    width: 100%;
    z-index: -2;
    top: 0;
  }
  #part-1+div {
    margin-left: 800px;
    margin-top: 800px;
    background: white;
  }
}
@media (min-width: 2800px) {
  #part-1+div {
    margin-left: 800px;
    width: 2000px;
    margin-top: 800px;
    background: white;
  }
}
#part-2 {
  height: 260px;
}
#part-2 ul {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
#part-2 li {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  flex: 1;
  color: #8c8c8c;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
#part-2 li:not(:first-child) span {
  border-left: solid 1px;
}
#part-2 li span {
  margin-top: 40px;
  width: 100%;
  padding: 0 20%;
  height: 3em;
  text-align: center;
  font-family: "SimHei", sans-serif;
}
#part-3 {
  height: 380px;
  background-color: #dfdfdf;
}
#part-3 img {
  width: 91px;
}
#part-3 span {
  margin-top: 40px;
  color: #8c8c8c;
  font-size: 56px;
}
#part-4 {
  position: relative;
  height: 380px;
  padding-bottom: 50px;
}
#part-4 div.background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(image/bg_map.jpg);
  background-size: cover;
  -webkit-filter: brightness(0.8);
  -moz-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  -ms-filter: brightness(0.8);
  filter: brightness(0.8);
  z-index: 0;
}
#part-4 div.background:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.1);
}
#part-4 div.content {
  color: white;
  z-index: 1;
}
#part-4 div.content span.title {
  font-size: 26px;
  padding-bottom: 10px;
  position: relative;
}
#part-4 div.content span.title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  border-bottom: solid 3px;
}
#part-4 div.content span.description {
  margin-top: 20px;
}
#part-4 div.select-area {
  margin-top: 40px;
  width: 100%;
  max-width: 2000px;
  padding: 0 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  z-index: 1;
}
#part-4 div.select-area > * {
  flex: 1 1;
  margin: 0 20px;
  max-width: 300px;
  height: 36px;
}
#part-4 div.select-area a.button {
  display: inline-block;
  background: #c00;
  text-align: center;
  line-height: 36px;
  color: white;
  letter-spacing: 20px;
  text-indent: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: all ease .3s;
}
#part-4 div.select-area a.button:hover {
  background: #c33;
}
#part-5 {
  height: 580px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 calc(10% + 20px);
  background: #eee;
}
@media (max-width: 1300px) {
  #part-5 {
    padding: 0 50px;
  }
}
#part-5 > div {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
#part-5 > div.highlight {
  flex-direction: column-reverse;
}
#part-5 > div > img {
  padding: 10px;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 5px 0;
}
#part-5 > div > .text {
  line-height: 24px;
}
#part-5 > div > .text > span.title {
  display: block;
  font-size: 14px;
  text-align: center;
}
#part-5 > div.highlight > .text > span.title {
  text-indent: 30px;
  letter-spacing: 30px;
  font-size: 20px;
}
#part-5 > div > .text > span.description {
  display: block;
  font-size: 12px;
  text-align: center;
  color: #666;
}
#part-6 {
  height: 600px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
}
#part-6 > .img {
  position: relative;
  flex: 2;
  background: url(image/img02.jpg) bottom center no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: white;
}
#part-6 > .img::after {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #ffffff transparent transparent;
}
#part-6 > .img > .title {
  font-size: 48px;
}
#part-6 > .img > .subtitle {
  font-size: 128px;
  line-height: 100px;
}
#part-6 > .img > .description {
  margin-top: 30px;
  text-align: center;
  line-height: 42px;
  font-size: 24px;
}
#part-6 > div.content {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
#part-6 > div.content > .title {
  display: block;
  font-size: 24px;
}
#part-6 > div.content > .title::after {
  content: attr(data-num);
  background: url(image/sep.png) left no-repeat;
  padding-left: 24px;
  line-height: 92px;
  color: red;
  font-weight: bold;
}
#part-6 > div.content > .description {
  display: block;
  width: 64%;
  text-align: justify;
  line-height: 36px;
  color: #ccc;
  font-size: 12px;
  font-family: "宋体", serif;
}
#part-6 > div.content > .button {
  box-sizing: border-box;
  margin-top: 50px;
  font-size: 14px;
  text-decoration: none;
  padding: 7px 23px;
  color: #c00;
  border: 2px solid #c00;
  cursor: pointer;
  background: white;
  transition: all ease .3s;
}
#part-6 > div.content > .button:hover {
  color: #fff;
  background: #c00;
}
#part-6 > div.content > .tab {
  margin-top: 30px;
}
#part-6 > div.content > .tab > div {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-radius: 12px;
  border: 2px solid #aaa;
  background: #fff;
}
#part-6 > div.content > .tab > div[actived] {
  background: #aaa;
}
#part-7 {
  display: -webkit-flex;
  display: flex;
}
#part-7 > div {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 600px;
}
#part-7 > div.text > span {
  font-size: 20px;
}
#part-7 > div.text > span.subtitle {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
#part-7 > div.text > span.subtitle::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  margin-left: -20px;
  width: 40px;
  border-bottom: 2px solid #000;
  transition: all ease .5s;
}
#part-7 > div.text:hover > span.subtitle::after {
  margin-left: -40px;
  width: 80px;
}
#part-7 > div.text > .button {
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #c00;
  color: #c00;
  background: white;
  transition: all ease .3s;
  cursor: pointer;
}
#part-7 > div.text > .button:hover {
  background: #f55;
  border: 1px solid #f55;
  color: white;
}
#part-7 > div.text.red {
  background: #f55;
  color: white;
}
#part-7 > div.text.red > span.subtitle::after {
  border-bottom: 2px solid #fff;
}
#part-7 > div.text.red > .button {
  background: #f55;
  border: 1px solid white;
  color: white;
}
#part-7 > div.text.red > .button:hover {
  background: white;
  border: 1px solid white;
  color: #f55;
}
#part-7 > div.text > span {
  display: block;
}
#part-7 > div.img {
  position: relative;
}
#part-7 > div.img::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: url(image/img03.jpg) right center no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  -o-filter: brightness(0.7);
  -ms-filter: brightness(0.7);
  filter: brightness(0.7);
}
#part-7 > div.img::after {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #ffffff;
}
#part-8 > .head {
  height: 400px;
}
#part-8 > .head > .title {
  font-size: 24px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#part-8 > .head > .title::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  margin-left: -20px;
  width: 40px;
  border-bottom: 2px solid #c00;
  transition: all ease .5s;
}
#part-8 > .head > .description {
  width: 600px;
  text-align: center;
  color: #aaa;
}
#part-8 > .form {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 10%;
  padding-bottom: 200px;
}
#part-8 > .form > .left {
  flex: 1;
}
#part-8 > .form > .left > div {
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
}
#part-8 > .form > .left > div > * {
  cursor: pointer;
}
#part-8 > .form > .left > div > .title {
  display: block;
  font-size: 20px;
  line-height: 60px;
}
#part-8 > .form > .left > div > .detail {
  display: block;
  color: #aaa;
  font-family: serif;
  line-height: 17px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#part-8 > .form > .left > div::after {
  position: absolute;
  right: 0;
  content: 'more';
  padding-left: 15px;
  display: block;
  width: auto;
  margin-left: auto;
  font-family: serif;
  font-size: 12px;
  background: url(image/more.png) left no-repeat;
}
#part-8 > .form > .right {
  flex: 2;
  margin-left: 50px;
}
#part-8 > .form > .right > div[data-label] > input {
  display: inline;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  margin: 0;
  padding: 10px;
  text-indent: 80px;
}
#part-8 > .form > .right > div[data-label] {
  display: inline-block;
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin: 5px;
  padding 0;
  background: #eee;
  position: relative;
}
#part-8 > .form > .right > div[data-label]::before {
  content: attr(data-label);
  position: absolute;
  color: #000;
  font-size: 13px;
  font-family: serif;
  line-height: 36px;
  text-indent: 14px;
  pointer-events: none;
}
#part-8 > .form > .right > div[data-label].textarea {
  width: calc(100% - 25px);
}
#part-8 > .form > .right > div[data-label].textarea::before {}
#part-8 > .form > .right > div[data-label] > textarea {
  height: 140px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  text-indent: 156px;
  padding-left: 14px;
  line-height: 20px;
  padding-top: 9px;
  background: #eee;
  resize: none;
}
#part-8 > .form > .right > .submit {
  line-height: 20px;
  width: calc(100% - 25px);
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  background: #eee;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: none;
}
#bottombar {
  height: 560px;
  background: #334;
  color: white;
}
#bottombar > .content {
  flex: 1;
}
#bottombar > .content > .title {
  font-size: 32px;
  line-height: 64px;
}
#bottombar > .content > .description {
  font-family: serif;
  width: 50%;
  padding: 0 20px;
  text-align: center;
}
#bottombar > .content > .subscription {
  margin-top: 40px;
  width: 50%;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
}
#bottombar > .content > .subscription > input {
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 20px;
}
#bottombar > .content > .subscription > button {
  padding: 0 10px;
  letter-spacing: 20px;
  text-indent: 20px;
  background: #777;
  font-size: 20px;
  color: white;
  border: none;
}
#bottombar > .content > .social {
  margin-top: 40px;
  width: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}
#bottombar > .content > .social > img {
  width: 36px;
  height: 36px;
}
#bottombar > .dockbar {
  background: #223;
  padding: 0 40px;
  width: 100%;
  height: 80px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
#bottombar > .dockbar > a {
  text-decoration: none;
  color: inherit;
}